<%= form_with(model: article, local: true, class: "space-y-6") do |form| %>
 <% if article.errors.any? %>
   <div id="error_explanation" class="bg-red border border-red text-white px-4 py-3 rounded relative">
     <h2 class="font-bold mb-2"><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>


     <ul class="list-disc pl-5">
       <% article.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
     </ul>
   </div>
 <% end %>


<div class="field">
    <%= form.label :title, class: "block text-sm font-medium" %>
    <%= form.text_field :title, class: "mt-1 block shadow-sm sm:text-sm rounded-md" %>
  </div>

  <div class="field">
    <%= form.label :body, class: "block text-sm font-medium" %>
    <%= form.text_area :body, class: "mt-1 block shadow-sm sm:text-sm rounded-md" %>
  </div>

  <div class="field">
    <%= form.label :published, class: "block text-sm font-medium" %>
    <%= form.check_box :published, class: "mt-1 block" %>
  </div>

  <div class="field">
     <%= form.file_field :image %>  
  </div>
    

  <div class="actions">
    <%= form.submit class: "bg-bermuda font-bold py-2 px-4 my-2 rounded-full" %>
  </div>
<% end %>