<div class="container box-border">
<table class="table-auto w-full border-collapse border my-5">
    <thead class="text-center">
        <tr class="text-2xl">Podsumowanie</tr>
     </thead>
  <tbody>
    <tr class="bg-slate">
        <td class="px-4 py-2 border font-bold">Tytuł</td>
        <td class="px-4 py-2 border font-bold">Treść</td>
        <td class="px-4 py-2 border font-bold">Status</td>
    </tr>
    <tr>
    <td class="px-4 py-3 border"><%= @article.title %></td>
    <td class="px-4 py-3 border"><%= @article.body %></td>
    <td class="px-4 py-3 border"><%= @article.published ? 'Published' : 'Draft' %></td>
    </tr>
</tbody>
</table>


<button class="bg-yellow font-bold py-2 px-4 rounded-full">
 <%= link_to 'Edit this article', edit_article_path(@article)%>
 </button>
 <button class="bg-red font-bold py-2 px-4 rounded-full">
<%= link_to "Delete this article", article_path(@article), data: {
turbo_method: :delete,
turbo_confirm: "Are you sure you want to delete the article?"
} %>
</button>
<button class="bg-bermuda font-bold py-2 px-4 rounded-full">
<%= link_to 'Back to Articles', articles_path %>
</button>
</div>
